.heading{
    color:hsl(359,83.4%,31.2%);
    font-family: Copperplate, Times, serif;
}

.heading.original {
    color: white;
    background-color:hsl(359,83.4%,31.2%);
    text-align: center;
    /* animation: rainbow 10s linear infinite; */
}

.disclaimer {
    color: white;
    background-color: rgb(6, 6, 164);
}

.aulogo {
    align-self: center;
}